footer {
    color: rgb(206, 36, 36);
    padding: 20px;
    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów */
    align-items: center; /* Wyśrodkowanie w pionie */
    text-align: center;
    max-width: 100%; /* Rozciągnięcie na całą szerokość */
    margin: 0 auto;
    font-size: 14px;
}

footer p {
    width: 100%; 
    margin: 0;
}

footer a.privacy-link {
    color: inherit;
    text-decoration: none;
}

footer a.privacy-link:hover {
    text-decoration: underline; 
}
